<div class="navbar">
  <div class="brand">
    <a href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='pictures/WELDON.jpg') }}" alt="Weldon Logo" style="height: 40px;">
    </a>
  </div>
  <div class="nav-links">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('products') }}">Products</a>
    <a href="{{ url_for('about') }}">About</a>
    <a href="{{ url_for('contact') }}">Contact</a>
    <a href="{{ url_for('cart') }}">Cart</a>
    <a href="{{ url_for('profile') }}">Profile</a>
    <a href="{{ url_for('login') }}">Login</a>


  </div>
</div>
